<!-- navbar.html -->
{% load static tailwind_tags %}
<div class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div style="width: 150px; height: auto;">
        <!-- Logo on the left -->
        <img src="{% static 'images/penidaxcowlendar.png' %}" alt="Logo" style="width: 150px; height: 150px;">
      </div>
      <div class="text-center flex-grow">
        <!-- Name of the app centered -->
        <span class="text-white text-2xl text-center">Cowlendar Reminders</span>
      </div>
      <div>
        <!-- You can place additional icons or user account info here -->
      </div>
    </div>
  </div>
  